.redalert {
    color: #ff69b4; /* rosa */
    text-align: center;
    font-style: italic;
    font-weight: bold; /* negrito */
}

#contact {
    display: block;
    width: 100%;
    max-width: 550px;
    margin: auto;
}

#contact label {
    display: block;
    padding: 0 0 .25rem .25rem;
    font-weight: bold; /* negrito */
}

#contact input,
#contact textarea,
#contact button {
    font-family: inherit;
    font-size: inherit;
    border-radius: .3rem;
    font-weight: bold; /* negrito */
}

#contact input,
#contact textarea {
    width: 100%;
    border: 2px solid #ff69b4; /* rosa */
    background-color: rgb(255, 223, 223);
    padding: .5rem;
}

#contact textarea {
    resize: vertical;
    height: 6rem;
}

#contact button {
    border: none;
    color: white;
    padding: .5rem 1rem;
    background-color: #999;
    pointer-events: none;
    font-weight: bold; /* negrito */
}

#contact small {
    color: grey;
    font-weight: bold; /* negrito */
}

#contact input:valid,
#contact textarea:valid {
    border: 2px solid blue;
    background-color: rgb(232, 240, 254);
}

#contact:valid button {
    background-color: steelblue;
    pointer-events: all;
    cursor: pointer;
}

.success {
    display: table;
    margin-left: 2rem;
    font-weight: bold; /* negrito */
}
